body{
    margin: 0px;
    padding: 0px;
    line-height: 2.0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;

}

h1{
    text-align: center;
    background-color: rgb(252, 193, 116);
}

button{
    border-bottom: 500px;
    border-style: none;
    width: 80px;
    border-radius: 700px;
    
}

a{
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form{
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}


















































