fieldset{
    margin: 10px;
    padding: 20px;
    width: 800px;
}

h1{
    text-align: center;
    background-color: rgb(255, 145, 55);
}

button{
    border: 80px;
}

nav a:hover{
    color: #c71919;
    text-decoration: underline;
}


















































