body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}



#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: rgb(141, 156, 194);
    background-color: rgb(56, 56, 110);
    padding: 20px;
    margin: 0px;
}

.titulo2{
    color: rgb(29, 29, 128);
    font-family: 'Times New Roman', Times, serif;
}

.principal{
    background-color: rgb(151, 174, 189);
    padding: 30px;
    margin: 0px;

}