body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}



#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: rgb(92, 110, 160);
    background-color: rgb(159, 159, 190);
    padding: 20px;
    margin: 0px;
}

.titulo2{
    color: rgb(19, 19, 71);
    font-family: 'Times New Roman', Times, serif;
}

.principal{
    background-color: rgb(151, 174, 189);
    padding: 30px;
    margin: 0px;

}